<h4>Hello @ViewBag.Name</h4>
<div class="float-end">
    <a asp-controller="Account" asp-action="EditProfile" class="text-decoration-none">
        Edit Profile
    </a>
</div>
<br>
<div class="float-end">
    <a asp-controller="Course" asp-action="DisplayVideos" class="text-decoration-none">
        Courses
    </a>
</div>
